<form *ngIf="showAddTask" class="form-control add-form" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label for="text">Task Name</label>
      <input type="text" class="form-control" id="text" aria-describedby="emailHelp" [(ngModel)]="text" placeholder="Enter task name" name="text" >
      <div *ngIf="textError" [ngStyle]="{'color': red}"> 
        {{textError}}
      </div>
    </div>
    <div class="form-group ">
        <label for="day">Day</label>
        <input type="datetime-local" class="form-control" id="day" aria-describedby="emailHelp" [(ngModel)]="day" placeholder="Enter day" name="day" >

     </div>
     <div class="form-group">
        <label for="reminder">Reminder</label>
        <input type="checkbox" class="form-control" id="reminder" aria-describedby="emailHelp" [(ngModel)]="reminder" name="reminder">
     </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
